 /**************************************
STATIC LAYOUT CSS
**************************************/
.wrapper {
    width: 900px;
    margin: 0 auto;
}

header {
    width: 900px;
}

button {
    font-family: Courir, monospace;
    font-size: 200%;
    background-color: white;
    border: 1px solid white;
}

button:active { background-color: lightgray;}

section {
    width: 900px;
} 
 

/**************************************
CSS TO MAKE THE EXAMPLE LOOK PRETTY
**************************************/

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: rgb(39, 39, 39);
    font-family: Courier;
    text-align: left;
}


section {
    background: white;
    /*border: 1.5px solid lightgray;*/
    border-radius: 3px;
}

hr {
    border: 0.5px solid lightgray;
}

header {
    padding: 20px 0;
    color: black;
    line-height: 175%;
}



h1 {
    font-size: 225%; 
    font-variant: small-caps; 
}

h2 { font-size: 150%; }

h3 {
    /* font-family: 'Arial Narrow Bold', sans-serif; */
    font-size: 100%; 
    line-height: 30%;
    color: lightgray;
}

a:visited { color: green; } 
a:hover { color: rgb(181, 210, 239); } 
a:active { color: lightgray; }

ul.items {
    list-style-type: square;
    margin-left: 15px;
    line-height: 225%;
}